body {
    padding-top: 45px;  /* Padding pushes content down so it is not hidden by navbar */
    
}

.background-image-container {
    position: fixed; /* Use fixed or absolute positioning */
    top: 0;
    left: 0;
    width: 100vw; /* Cover the full viewport width */
    height: 100vh; /* Cover the full viewport height */
    background-image: url('../media/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Keep the background behind other content */
}

.readable {
        background-color: rgba(255, 255, 255, 0.85); /* White background with some opacity */
        border-radius: 0.25rem; /* Rounded corners */
        padding: 1rem;
        margin-bottom: 1rem;
}


nav.navbar {
    background-color: #384B30; /* Set the background color */
}

@media (min-width: 768px) {
    .flex-container {
        display: flex;
        align-items: flex-start;
    }
    .content {
        flex: 1;
        padding-right: 20px;
    }
}
