h1 {
    color: red;
}

body {
    padding-top: 45px;  /* Padding pushes content down so it is not hidden by navbar */
}

nav.navbar {
    background-color: #384B30; /* Set the background color */
}

@media (min-width: 768px) {
    .flex-container {
        display: flex;
        align-items: flex-start;
    }
    .content {
        flex: 1;
        padding-right: 20px;
    }
}