{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Display alert messages to user -->
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
    {% endif %}


    <div class="flex-container">
        <div class="content">
            <h2>Homepage</h2>
            <p>Usk Bowmen is an archery club based in Usk, South Wales. We meet regularly at our local Scout Hut, during the winter months we shoot indoors on a short 10m range and in the summer months we shoot outside at roughly 20m.</p>
        </div>
    </div>
{% endblock %}