{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usk Bowmen</title>
    <link rel="icon" type="image/x-icon" href="static/media/target.png">
       
    <!-- Bootstrap links -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

    <!-- Background image -->
    <div class="background-image-container"></div>

    <!-- Navbar starts -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <!-- Navbar header with a toggle button for mobile -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Usk Bowmen</a>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="{% url 'faqs:faqs_page' %}">FAQs</a></li>
              </ul>

              {% if request.user.is_authenticated %}
               <ul class="nav navbar-nav">
                   <li><a href="{% url 'dashboard:account_page' %}">My Account</a></li>
                   <li><a href="{% url 'dashboard:logout' %}">Log out</a></li>
               </ul>
              {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login/Signup<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:login' %}">Login</a></li>
                        <li><a href="{% url 'core:signup' %}">Create Account</a></li>
                    </ul>
              </ul>
              {% endif %}
          </div>
      </div>
  </nav>
    <!-- Navbar ends -->

    
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>